<div ng-controller="FirstPage">
    <h1> welcome to oneword message </h1>
    <table border="0">
        <tr>
            <td>your message: </td>
            <td> <input type="text" ng-model="data.message" text={data.message}></input></td>
        </tr>
        <tr>
            <td>your date: </td>
            <td> <input type="text" ng-model="data.datetime" text={data.datetime}></input></td>
        </tr>
    </table>
    <br />
    <hr>

    <p>debug: {{data.message}} | {{data.datetime}} </p>
</div>
</div>